<%= provide(:title, "Create a business") %>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>New business</h2>
				<%= render 'form' %>
				<%= link_to 'Back', @owner %>
		</div>
	</div>
</div>
