<%= provide(:title, "#{@business.name} Profile Page") %>
<div class="row">
	<div class="col-md-2">
  	<div class="panel panel-success">
    	<div class="panel-heading">
      	<b>Business Information</b><%= link_to "Edit", '#', class: 'pull-right' %>
      </div>
      <div class="panel-body">
        <b>Business: </b>
        <%= link_to @business.name, '#' %>
      <p>
     </div>
    </div>

    </div>
  </div>