<% provide(:title, 'About') %>
<div class="container">
	<h1>About Mighty Smalls</h2>
		<p>Mighty Smalls was created in 2013 by Arthur Mills, founding partner of Hamco Internet Solutions with the hope of creating a simple and cost effective client relationship management system designed for small business owners running a customer service business.  </p>

		<h2>Small business, big features</h2>
		<p>Mighty Smalls gives small business owners a big business, highly customized system to keep track of their clients, the services provided and the regularity of their visits.   The customization is built through partnership with other service industry business owners to fully integrate the most important features to growing their income stream and maximizing the relationship with each client.</p>

		<h2>Focused on customer service small businesses</h2>
		<p>Whether you are a masseuse, conduct aesthetics services, style hair, work with manicures and pedicures as well as any number of professions that put you into direct contact with a customer for an extended period, Mighty Smalls makes it easy for business owners to contact clients for the purpose of sending reminders, discount offers or notifications of upcoming special events and just jogging their memory about previous visits.</p>

		<p>Whether your are trying to smooth out your revenue stream, or simply trying to personalize your business for your clientele, Mighty Smalls gives your small business a big business client management solution sure to help the bottom line.</p>
	</div>
