<% provide(:title, 'About') %>
<div class="container">
	<h1>About Mighty Smalls</h2>
		<p>
			Mighty Smalls was created in 2013 by Arthur Mills, founding partner of Hamco Internet Solutions

			Mighty Smalls is a simple and cost effective client management system designed for small business owners running a customer service business.  It helps small business owners keep track of their clients, the services they provide and the regularity of their visits.

			Mighty Smalls makes it easy for business owners to contact clients for the purpose of sending reminders, discount offers or notifications of upcoming special events.

			Whether your are trying to smooth out your revenue stream, or simply trying to personalize your business for your clientele, Mighty Smalls gives your small business a big business client management solution sure to help your bottom line.
		</p>
	</div>
