
<div class="center jumbotron">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Small Business Customer Portal</h1>

      <h2>SITE IS CURRENTLY IN CLOSED ALPHA TESTING.</h2>
        <p>
          At present we have invited one business owner to help customize this small business customer
          management system.   We are working through changes and updates and will invite more businesses soon.
        </p>

        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-1 col-md-offset-1">
		<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	</div>
	<div class="col-md-2 pull-right">
		<%= link_to image_tag("digitalocean.png", alt: "Digital Ocean"), 'http://digitalocean.com' %>
	</div>
</div>







