
<div class="center jumbotron">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Customer Relationship Portal</h1>

      <h2>SITE IS CURRENTLY IN CLOSED ALPHA TESTING.</h2>
        <p>
          At present we have invited one business owner to help customize this small business customer
          relationship application.   We are working through changes and updates and will invite more businesses soon.
        </p>
        <p> 
          If you are an owner of a small business providing centered on direct customer interaction and providing services ranging from massage, nails, health and fitness, esthetics services, hair and the like will benefit from Mighty Smalls.   New customers are fantastic, but, Mighty Smalls
          seeks to leverage the existing customer relationships you already have.
        </p>
        <p>
          Using this system you will be able to communicate with your customers based on their
          specific individual patterns, preferences and needs.   You will always need new clients, but, with Mighty Smalls, you will be able to maximize the relationships you've spent time developing with people you already know.   We hope you'll visit once we get up and running in the next few months.
        </p>

        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", disabled: true %>
    </div>
  </div>
</div>


