<%= provide(:title, "#{@owner.name} Profile Page") %>
<div class="row">
	<div class="col-md-3 col-md-offset-1">
  	<div class="panel panel-default">
    	<div class="panel-heading">
      	<b>Personal Information</b> <%= link_to "Edit", '/edit', class: 'pull-right' %>
      </div>
      <div class="panel-body">
        <b>Owner: </b>
        <%= link_to @owner.name, '/edit' %>
      </div>
      <div class="panel-body">
        <b>Email: </b>
        <%= @owner.email %>
      </div>
      <div class="panel-body">
      <address>
      	795 Folsom Ave, Suite 600<br>
      	San Francisco, CA 94107<br> 
      	<abbr title="Phone">P:</abbr> (123) 456-7890 
      </address>
      </div>
    </div>
  </div>
   
	<div class="col-md-7">
  	<div class="panel panel-danger">
      <div class="panel-heading">
        <b>Business information</b>
      </div>
      <div class="panel-body">
      	<p>You have not yet provided us information about your business.</p>
      	<p>Testing here.</p>
      </div>

    </div>
   </div>

</div>