<footer class="footer">
	<div class="row">
	  <div class="col-md-12">
  <small>
    &copy; <%= copyright_notice_year_range(2009) %> <%= link_to "Hamco Internet Solutions", "http://hamcois.com" %>
  </small>
  </div>
</footer>